/* Dark Theme Colors todo refactor*/
$neutral-0: #FFFFFF;
$neutral-500: #949497;
$neutral-700: #626264;
$neutral-900: #1A1A1C;

$dark-overlay-8: #2B2B2E;
$dark-overlay-7: #3c3c3c;

$primary-500: #846bda;

/* Light Theme Colors */
$white-1: #FFFFFF;
$white-2: #F8F8F8;
$white-3: #ECECEC;
$white-4: #E0E0E0;

$black-1: #232323;
$black-2: #2c2c2c;

$grey-2: #B4B4B7;
$grey-3: #949497;

/* Generic Shades */
$white-a0: #ffffff;
$white-a5: #f1f1f1;
$white-a10: #e4e4e4;
$white-a15: #d6d6d6;
$white-a20: #c9c9c9;
$white-a25: #bcbcbc;
$white-a30: #afafaf;
$white-a35: #a2a2a2;
$white-a40: #969696;
$white-a45: #898989;
$white-a50: #7d7d7d;


$black-a55: #707070;
$black-a60: #636363;
$black-a65: #565656;
$black-a70: #4a4a4a;
$black-a75: #3e3e3e;
$black-a80: #323232;
$black-a85: #272727;
$black-a90: #1c1c1c;
$black-a95: #111111;
$black-a100: #000000;

$blue-1: #e6f7ff;
$blue-2: #bae7ff;
$blue-3: #91d5ff;
$blue-4: #69C0FF;
$blue-5: #40A9FF;
$blue-6: #1890ff;
$blue-7: #096dd9;
$blue-8: #0050b3;
$blue-9: #003a8c;
$blue-10: #002766;


$red-1: #FFF1F0;
$red-2: #FFCCC7;
$red-3: #ffA39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #fe222d;
$red-7: #cf1322;
$red-8: #a8071a;
$red-9: #820014;
$red-10: #5c0011;

$green-1: #eefecd;
$green-2: #dffda0;
$green-3: #d1fb74;
$green-4: #c5fb51;
$green-5: #a4ed06;
$green-6: #4fbd19;
$green-7: #389e0d;
$green-8: #237804;
$green-9: #135200;
$green-10: #092b00;

$gold-1: #fffbe6;
$gold-2: #fff1b8;
$gold-3: #ffe58f;
$gold-4: #ffd666;
$gold-5: #ffc53d;
$gold-6: #faad14;
$gold-7: #d48806;
$gold-8: #ad6800;
$gold-9: #874d00;
$gold-10: #613400;

$geekblue-1: #f0f5ff;
$geekblue-2: #d6e4ff;
$geekblue-3: #adc6ff;
$geekblue-4: #85a5FF;
$geekblue-5: #597ef7;
$geekblue-6: #2f54eb;
$geekblue-7: #1d39c4;
$geekblue-8: #10239e;
$geekblue-9: #061178;
$geekblue-10: #030852;

$cyan-1: #e7f8f3;
$cyan-2: #cff2e6;
$cyan-3: #b0e9d6;
$cyan-4: #87dec1;
$cyan-5: #5bc8c1;
$cyan-6: #4fb0ab;
$cyan-7: #469b97;
$cyan-8: #427e7b;
$cyan-9: #446866;
$cyan-10: #1a3231;

$purple-1: #f9f0ff;
$purple-2: #efdbff;
$purple-3: #d3adf7;
$purple-4: #b37feb;
$purple-5: #9254de;
$purple-6: #722ed1;
$purple-7: #531dab;
$purple-8: #391085;
$purple-9: #22075e;
$purple-10: #120338;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;