.shell-only-containers{ /* do not use this for containers encapsulating MFE widgets!!!*/
    body {
      font-family: Inter-Regular;
      margin: 0;
      padding: 0;
      background: none;
      color: inherit;
      font: inherit;
    }

    div {
        font-family: Inter-Regular;
    }

    .logo {
      height: 6em;
      padding: 1.5em;
      will-change: filter;
      transition: filter 300ms;
    }

    h1 {
      opacity: 0.99;
    font-family: Outfit-Thin_SemiBold;
    font-size: 32px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 48px;
    font-weight: 600;
    }

    h2 {
      opacity: 0.99;
    font-family: Outfit-Thin_SemiBold;
    font-size: 28px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 600;
    }

    h3 {
      opacity: 0.99;
    font-family: Outfit-Thin_SemiBold;
    font-size: 24px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 36px;
    font-weight: 600;
    }

    h4 {
      opacity: 0.99;
    font-family: Outfit-Thin_SemiBold;
    font-size: 20px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 30px;
    font-weight: 600;
    }

    h5 {
      opacity: 0.99;
    font-family: Inter-Bold;
    font-size: 18px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 27px;
    font-weight: 700;
    }

    p{
    opacity: 0.99;
    font-family: Inter-Regular;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    }
    p.medium{
      opacity: 0.99;
    font-family: Inter-Medium;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 500;
    }
    p.strong {
      opacity: 0.99;
    font-family: Inter-Bold;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    }
    p.code {
      opacity: 0.99;
    font-family: Menlo-Regular;
    font-size: 16px;
    color: #1F1F1F;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 400;
    }

    .logo:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    .logo.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
 }